body {
    font-family:'Nunito Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    background-color:#131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 1px solid transparent; 
    padding: 13px 33px;
    color:inherit;
    text-transform:inherit;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: italic; 
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.hero .button {
    width: 207px;
    height: 51px;
}

.firt-button {
    padding: 19px 42px 20px 41px;
}
.second-button {
    padding: 19px 23px 20px 22px;
    margin-left: 19px;
}

.button:hover {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.header-navigation {
    list-style: none;
    display: flex;
    padding: 0;
}

.header-navigation__item:not(:last-child) {
    margin-right: 47px;
}

.header-navigation__item:hover{
    color: #E3B873;
}

.header-navigation__link {
    text-decoration: none;
    color:inherit;
}

.phone {
    width: 126px;
    height: 16px;
    text-align: right;
}

.phone a {
    color: #E3B873;
}

.hero {
    background-image: url('../images/background.png');
    padding: 194px 628px 208px 134px;
    position: relative;
}

.hero-overlay {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-wrapper {
    position: relative;
    z-index: 1;
    height: 305px;
    width: 676px;
    margin: 0;
}

.title {
    margin: 0;
    font-family: 'Yeseva One','Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 53px;
    width: 676px;
    height: 105px;
    font-weight: normal;
}

.city {
    color: #E3B873;
}

.paragraph {
    width: 504px;
    height: 89px;
    font-size: 22px;
    font-weight: normal;
    line-height: 36px;
    text-transform: none;
    margin-top: 19px;
    margin-bottom: 41px;
}

