/* Общие стили */
body {
    font-family:'Nunito Sans', Arial, Helvetica, sans-serif;
    color: #363636;
    background-color: white;
    margin: 0;
    text-transform: none;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

.header .container,
.footer .container{
    max-width: 1320px;
}

.container {
    margin: 0 auto;
    max-width: 1236px;
    padding: 0 32px;
}

@media screen and (max-width:767px) {
    .container,
    .header .container,
    .footer .container {
        max-width: none;
        padding: 0 18px;
    }
}

.header-navigation__item:hover,
.logo, 
.city,
.header-navigation__item.active {
    color: #E3B873;
}

.header, 
.projects {
    background-color: #131313;
}

button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 1px solid transparent; 
    font-family: inherit;
    font-style: italic; 
    font-size: 1em;
    line-height: 1.36;
    cursor: pointer;
    width: 13.95vw;
    height: 7.7vh;
}

button:not(.form-button):hover,
button.active {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
}

.title,
.projects-list,
button,
.header .container {
    text-transform: uppercase;
}

.title, .projects-list{
    font-family: 'Yeseva One','Times New Roman', Times, serif;
}

.title {
    font-weight: normal;
}

.subtitle {
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    color:#181818;
}

button,
a {
    color:inherit;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

.header-navigation, .projects-list {
    list-style: none;
    display: flex;
    padding: 0;
}

header,
.projects {
    color: white;
}

/* header */
.header .container {
    display: flex;
    justify-content: space-between;
    height: 5.77vmax;
    align-items: center;
    font-size: 0.55em;
    line-height: 1.36;
}

@media screen and (max-width:767px) {
    .header .container {
        height: 8.55vh;
    }
}

.header-block button {
    width: 14.4vw;
}

.calculate {
    margin-right: 1.8em;
}

.requestCall {
    width: 11.2vw;
    height: 5.6vh;
}

.application {
    display: none;
}

/* Медиазапросы для кнопок в header */
@media screen and (max-width:767px) {
    .submit {
        display: none;
    }
    
    .calculate {
        margin-top: 3.3em;
}
    .application{
        margin-top: 2.37em;
        display: block;
    }

    .requestCall {
        display: none;
    }

    .header-block button,
    .form-button {
        width: 100%;
    }
}

.header-navigation__item:not(:last-child) {
    margin-right: 4.28em;
}

.contacts-phone .header-navigation__link {
    text-decoration: underline;
    margin-right: 4.1em;
    color:  #E3B873;
}

@media screen and (max-width:767px) {
    .contacts-phone .header-navigation__link {
        color: white;
        text-decoration: none;
        margin-right: 0;
    }

    .header-navigation {
        display: none;
    }
}

.contacts {
    display: flex;
    align-items: center;
}

.header-block {
    background-image: url('../images/background.png') ;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:767px) {
    .header-block {
        background-image: url('../images/backgroundmobile.png') ;
    }
}

.header-block .container {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 6.73em;
    padding-top: 17.64em;
    padding-bottom: 47em;
}

@media screen and (max-width:767px) {
    .header-block .container{
        padding-top: 7.73em;
        padding-bottom: 35em;
        padding-left: 1.65em;
    }
}

/* Затемнение фоновой картинки */
.container-overlay {
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.turnkeyRepair{
    font-size: 3.64em;
    line-height: 1.325;
    margin: 0;
}

h1 ~ .paragraph {
    font-size: 2em;
    line-height: 1.64;
    margin-top: 0.85em;
    margin-bottom: 1.1em;
    text-transform: none;
} 

.text-2 {
    display: none;
}

@media screen and (max-width:767px) {
    h1 ~ .paragraph {
        font-size: 1.27em;
        line-height: 135.84%;
        margin-top: 1.15em;
    }

    .title {
        font-size: 2.1em;
        line-height: 132.83%;
    }

    .text-1 {
        display: none;
    }

    .text-2 {
        display: block;
    }
}

/* Блок Сompleted Projects */
.projects .container {
    display: flex;
    padding-left: 1.6em;
    padding-top: 5.35em;
    padding-bottom: 20.5em;
}

.projects-block__mobile {
    display: none;
}

@media screen and (max-width:767px) {
    .projects-block__left, .projects-block__right {
        display: none;
    }
    
    .projects-block__mobile {
        display: block;
        padding-bottom: 7em;
    }

    .projects .container {
        padding-top: 1.8em;
        padding-left: 0.9em;
        padding-right: 0.9em;
        padding-bottom: 44.2em;
    }
}

.projects-block__left {
    padding-top:  3.45em;
}

.projects-block__right {
    margin-left: 2.5em;
}

.projects-list {
    font-size: 0.7em;
    line-height: 1.357;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 0;
}

.projects-list__item {
    margin-right: 4.32em;
}

.projects-list__link:hover,
.projects-list__item.active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 0.5em;
}

.projects-chairs {
    margin-top: 2.25em;
}

.comlpleted-projects {
    font-size: 1.35em;
    line-height: 1.37;
    letter-spacing: -0.07em;
    margin-top: 0;
    color: #E3B873;
}

.comlpleted-projects ~ .paragraph{
    font-size: 0.7em;
    line-height: 1.93;
    margin-top: 2.43em;
}

@media screen and (max-width:767px) {
    .comlpleted-projects {
        font-size: 1.1em;
        line-height: 138.6%;
        text-align: center;
    }

    .comlpleted-projects ~ .paragraph {
        font-size: 0.55em;
        /* line-height: 158.48%; */
        text-align: center;
        margin-top: 2em;
        margin-bottom: 0;
    }

    .projects-room {
        margin-top: 3em;
        margin-bottom: 7em;
    }

    .sliderNavigation {
        display: flex;
        justify-content: space-between;
        margin-top: -7.5em;
        margin-right: 0.65em;
        margin-left: 0.65em;
    }
}

.feature_title {
    font-size: 0.9em;
    line-height: 1.39;
    margin-top: 0;
    margin-bottom: 0;
    color: #E3B873;
}

@media screen and (max-width:767px) {
    .feature_title {
        font-size: 0.7em;
        line-height: 138.6%;
    }
}

.feature_title ~ .paragraph {
    font-size: 0.65em;
    line-height: 1.62;
    margin-bottom: 0;
    margin-top: 0.7em;
} 

.projects-block__left--features{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 34px;
    margin-top: 2.1em;
}

@media screen and (max-width:767px) {
    .feature_title ~ .paragraph{
        font-size: 0.55em;
        line-height: 135.84%;
        margin-top: 1em;
    }

    .projects-block__left--features {
        grid-row-gap: 27px;
    }
}

/* Слайдер в Completed projects */
.carousel {
    display: flex;
    margin-top: 3.8em;
}

.carousel div {
    display: flex;
}

.dots-links {
    margin: 0 29.5px;
}

.carousel_link-dots:not(:last-child) {
    margin-right: 17.5px;
}

/* Блок Online Control */
.control .container {
    margin-top: -17.75em;
}

@media screen and (max-width:767px) {
    .control .container{
        margin-top: -48em;
    }

    .subtitle{
        font-size: 1.1em;
        line-height: 138.6%;
    }
}

.control-camera {
    display: flex;
    justify-content: center;
}

.camera-icon {
    position: relative;
}

.camera-icon::before {
    content: "";
    background: #E3B873;
    width: 32px;
    height: 1.5px;
    border-radius: 30px;
    position: absolute;
    right: 43px;
    top: 12px;
}

.camera-icon::after {
    content: "";
    background: #E3B873;
    width: 32px;
    height: 1.5px;
    border-radius: 30px;
    position: absolute;
    left: 43px;
    top: 12px;
}

.control .subtitle {
    color: #FFFFFF;
}

.control-video {
    background-image: url("../images/control.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 56.74vw;
    height: 21.7em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 3.1em;
}

@media screen and (max-width:767px) {
    .control-video{
        background-image: url("../images/controlmobile.png");
        width: 91vw;
        height: 31vh;
        margin-bottom: 1.4em;
        margin-top: 2em;
        }
}   

.control-video_button {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 7.5em;
}

.control-video_play:nth-of-type(2) {
    display: none;
}

@media screen and (max-width:767px) {
    .control-video_play:nth-of-type(1) {
        display: none;
    }

    .control-video_play:nth-of-type(2) {
        display: block;
    }

    .control-video_button {
        padding-top: 3em;
    }
}


.control-overlay{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.control .paragraph {
    text-align: center;
    margin-top: 1.7em;
    margin-bottom: 5em;
    font-size: 0.9em;
    line-height: 2.06;
}

@media screen and (max-width:767px) {
    .control .paragraph {
        font-size: 0.55em;
        line-height: 169.8%;
        color: #FFFFFF;
        margin-top: 2em;
        margin-bottom: 6em;
    }
}


.element {
    content: "";
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 1.54px;
    margin: auto;
}

/* Поле ввода */
.form {
    margin-left: 10.1em;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:767px) {
    .form {
        margin-left: 0;
        flex-direction: column;
    }
}

.form-button {
    font-size: 0.65em;
    line-height: 2.076;
    font-style: normal;
    color: white;
}

input[type=text],
input[type=tel] {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 0.7em;
    line-height: 1.64;
    width: 16.05vw;
    font-family: inherit;
    color: #363636;
}

@media screen and (max-width:767px) {
    input[type=text],
    input[type=tel] {
        border-bottom: 1px solid white;
        width: 100%;
        line-height: 138.72%;
        background-color: transparent;
        color:white
    }
}


.form-checkbox {
    color: #181818;
    font-size: 0.7em;
    line-height: 163.68%;
    margin-left: 17em;
    margin-top: 2.65em;
}

.label{
    font-size: 0.65em;
    line-height: 1.6;
    color: rgba(54, 54, 54, 0.5);
}

@media screen and (max-width:767px) {
    .label:not(.label-checkbox){
        color:rgba(255, 255, 255, 0.5);
    }

    .form-checkbox {
        color:#FFFFFF;
        margin-left: 0;
        margin-top: 1.9em;
        margin-bottom: 4.5em;
    }

    .form-submit {
        order: 1;
    }
}

.label-checkbox {
    cursor: pointer;
}

.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 1px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url("../images/checkbox.svg")
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: black;
    background-color: #e9ecef;
}

.form-userphone {
    margin-right: 2.45em;
    margin-left: 2.9em;
} 


@media screen and (max-width:767px) {
    .form-userphone {
        margin: 0;
        margin-top: 3.1em;
    }
}

/* Блок repair */

.repair-icon {
    text-align: center;
}

.repair-wrapper {
    display: flex;
}

.wrapper-designers {
    display: flex;
    flex-direction: column;
}

.repair-text {
    background-color: white;
}